@import "./variables.scss";

@mixin line {
  flex-direction: row;
  align-items: center;
}

.stack {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);

  > * {
    min-width: 0;
  }

  &--line {
    @include line;
    align-items: flex-start;
  }

  // align
  &--align-start {
    align-items: flex-start;
  }
  &--align-center {
    align-items: center;
  }
  &--align-end {
    align-items: flex-end;
  }
  &--align-stretch {
    align-items: stretch;
  }

  // justify
  &--justify-start {
    justify-content: flex-start;
  }
  &--justify-center {
    justify-content: center;
  }
  &--justify-end {
    justify-content: flex-end;
  }
  &--justify-space-between {
    justify-content: space-between;
  }
  &--justify-space-around {
    justify-content: space-around;
  }
  &--justify-stretch {
    justify-content: stretch;
    > * {
      min-width: min-content;
    }
  }
  &--justify-equal-size {
    > * {
      flex: 1;
    }
  }

  @each $size, $size-value in $sizes {
    &--#{$size} {
      gap: $size-value;
    }
  }

  @include breakpoint-tablet {
    @each $size, $size-value in $sizes {
      &--tablet-#{$size} {
        gap: $size-value;
      }
    }

    &--line-tablet {
      @include line;
    }
    &--align-tablet-start {
      align-items: flex-start;
    }
    &--align-tablet-center {
      align-items: center;
    }
    &--align-tablet-end {
      align-items: flex-end;
    }
    &--align-tablet-stretch {
      align-items: stretch;
    }
    &--justify-tablet-start {
      justify-content: flex-start;
    }
    &--justify-tablet-center {
      justify-content: center;
    }
    &--justify-tablet-end {
      justify-content: flex-end;
    }
    &--justify-tablet-space-between {
      justify-content: space-between;
    }
    &--justify-tablet-space-around {
      justify-content: space-around;
    }
    &--justify-tablet-stretch {
      justify-content: stretch;
    }
    &--justify-tablet-equal-size {
      > * {
        flex: 1;
      }
    }
  }
  @include breakpoint-desktop {
    @each $size, $size-value in $sizes {
      &--desktop-#{$size} {
        gap: $size-value;
      }
    }

    &--line-desktop {
      @include line;
    }
    &--align-desktop-start {
      align-items: flex-start;
    }
    &--align-desktop-center {
      align-items: center;
    }
    &--align-desktop-end {
      align-items: flex-end;
    }
    &--align-desktop-stretch {
      align-items: stretch;
    }
    &--justify-desktop-start {
      justify-content: flex-start;
    }
    &--justify-desktop-center {
      justify-content: center;
    }
    &--justify-desktop-end {
      justify-content: flex-end;
    }
    &--justify-desktop-space-between {
      justify-content: space-between;
    }
    &--justify-desktop-space-around {
      justify-content: space-around;
    }
    &--justify-desktop-stretch {
      justify-content: stretch;
    }
    &--justify-desktop-equal-size {
      > * {
        flex: 1;
      }
    }
  }
  @include breakpoint-widescreen {
    @each $size, $size-value in $sizes {
      &--widescreen-#{$size} {
        gap: $size-value;
      }
    }

    &--line-widescreen {
      @include line;
    }
    &--align-widescreen-start {
      align-items: flex-start;
    }
    &--align-widescreen-center {
      align-items: center;
    }
    &--align-widescreen-end {
      align-items: flex-end;
    }
    &--align-widescreen-stretch {
      align-items: stretch;
    }
    &--justify-widescreen-start {
      justify-content: flex-start;
    }
    &--justify-widescreen-center {
      justify-content: center;
    }
    &--justify-widescreen-end {
      justify-content: flex-end;
    }
    &--justify-widescreen-space-between {
      justify-content: space-between;
    }
    &--justify-widescreen-space-around {
      justify-content: space-around;
    }
    &--justify-widescreen-stretch {
      justify-content: stretch;
    }
    &--justify-widescreen-equal-size {
      > * {
        flex: 1;
      }
    }
  }
}
