.stack-item {
  background-color: #2b2b2b;
  padding: 5px;
  color: #a8a8a8;
  font-size: 14px;
  overflow-wrap: break-word;

  &--extend-height {
    height: 50px;
  }
}

.stack__prop {
  font-family: monospace;
}

.stack--border {
  border: 1px solid grey;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.styleguide {
  font-family: Arial, Helvetica, sans-serif;
  h1,
  h2,
  h3,
  p {
    margin: 4px;
  }

  &__title {
    text-align: center;
  }

  padding: 20px;

  @media (min-width: 890px) {
    padding: 20px 120px;
  }

  @media (min-width: 1280px) {
    padding: 20px 200px;
  }
}
