name: Publish to NPM
on:
  release:
    types: [created]
jobs:
  npm_module:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "16.x"
          registry-url: https://registry.npmjs.org/
          cache: yarn
      - run: yarn
      - run: yarn config set version-git-tag false
      - run: yarn version --new-version $(echo $GITHUB_REF_NAME | cut -c 2-)
      - run: yarn build
      - run: yarn publish --non-interactive
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
  gem:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
      - run: sed -i "s/0.0.1/$(echo $GITHUB_REF_NAME | cut -c 2-)/" lib/shimmer/version.rb
      - name: Publish gem
        uses: dawidd6/action-publish-gem@v1
        with:
          api_key: ${{secrets.RUBYGEMS_API_KEY}}
