name: Test

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - uses: actions/setup-node@v3
        with:
          node-version: "16.x"
          cache: "yarn"
      - name: Install JS/TS Dependencies
        run: yarn install
      - name: Lint JS/TS
        run: yarn lint
      - name: Build JS/TS
        run: yarn build
      - name: Lint Ruby
        run: bundle exec rubocop -c .rubocop.yml
