name: Test

on: [push]

jobs:
  test:
    strategy:
      matrix:
        ruby-version:
          - "3.1"
          - "3.2"
          - "3.3"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies from apt
        run: |
          sudo apt-get update
          sudo apt-get install -y libvips42
      - name: Set up Ruby ${{ matrix.ruby-version }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true
      - uses: actions/setup-node@v4
        with:
          node-version: "22.x"
          cache: "yarn"
      - name: Install JS/TS Dependencies
        run: yarn install
      - name: Lint JS/TS
        run: yarn lint
      - name: Build JS/TS
        run: yarn build
      - name: Lint Ruby
        run: bundle exec rubocop -c .rubocop.yml
      - name: Install Playwright
        run: cd spec/rails_app && yarn playwright install --with-deps chromium
      - name: Ruby Tests
        run: (cd spec/rails_app && bin/rails assets:precompile) && bin/rspec --format documentation
        env:
          RAILS_ENV: test
